.prefrences-container{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
    
}
.prefrences-container .left{
    width: 66.67%;;
    display: flex;
    justify-content: center;
    align-self:center;
  
}
.prefrences-container .left .logo{
    height: 32px;
    width: 32px;
    position: absolute;
    top: 40px;
    left: 40px;
}
.prefrences-container .left .select-prefrence{
    margin-top: 20px;
    width: min(580px, 90%);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.prefrences-container .left .select-prefrence b{
    color: #000000;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;

}
.prefrences-container .left .select-prefrence input{
    border-radius: 9px;
    background-color: #F6F7F5;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;

}
.prefrences-container .left .select-prefrence input::placeholder {
    color: black;  
    opacity: 1; 
}
.prefrences-container .left .select-prefrence .select-category-div > span{
    display: block;
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;

}
.preference-category-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    gap: 10px;
    margin-bottom: 10px;

  }
  .prefrences-container .left .select-prefrence .prefrence-button{
    background-color: #1877F2;
    width: 100%;
    border-radius: 65.3px;
    height: 48px;
    font-size: 16.33px;
    line-height: 24px;
    letter-spacing: -0.33%;
    color: white;
    border: none;
  }
/* img container */
.prefrences-container .right{
    width: 33.33%;
}
.prefrences-container .right img{
    width: 100%;
    height: 100vh;
    object-fit: fit;
}


@media screen and (max-width:500px) {
  .prefrences-container .right{
    display: none;
  }  

  .prefrences-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  } 
  .prefrences-container .left {
    width: 100%;
   
}
.prefrences-container .left .logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.prefrences-container .left .select-prefrence {
    margin-top: 40px;
  
}
.prefrences-container .left .select-prefrence input {
    background-color: white;
    border: 1px solid #F6F7F5;
    border-radius: 10px;
}
.prefrences-container .left .select-prefrence .select-category-div > span {
    font-size: 17px;
}
.prefrences-container .left .select-prefrence .prefrence-button {
    margin-top: 30px;
}

}