.booking-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;

  }
  
  /* booking Date and Time */
  .booking-card .booking-date-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .booking-card .booking-date {
    font-size: 16px;
    color: #000000;
  }
  
  .booking-card .booking-time {
    font-size: 16px;
    color: #1877F2;
  }
  
  /* booking Details */
  .booking-card .booking-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .booking-card .booking-title {
    font-weight: bold;
    color: #454545;
  }
  
  .booking-card .booking-description {
    font-size: 14px;
    color: #6D6D6D;
  }
  
  /* Status Badge */
  .booking-card  .status-badge {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .booking-card  .accepted {
    background-color: #F3F3F1;
    color: #000000;
  width:100px;
    border-radius: 13px;
    padding: 5px;
  }
  
  .booking-card .pending {
    background-color: #fef9c3;
    color: #92400e;
    width:100px;
    border-radius: 13px;
    padding: 5px;
  }
  
  .booking-card .cancelled {
    background-color: #616161;
    color: #ffffff;
    width:100px;
    border-radius: 13px;
    padding: 5px;
  }
  
  /* People Count */
  .booking-card .people-count {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #6d6d6d;
  }
  
  @media screen and (max-width:500px) {
    .booking-card {
      padding: 5px;
      border-radius: 8px;
      margin-top: 10px;
     
    }
    .booking-card .booking-date-time {
      gap: 3px;
    }
    .booking-card .booking-date {
      font-size: 12px;
      color: #000000;
    }
    
    .booking-card .booking-time {
      font-size: 12px;
      color: #1877F2;
    }
    .booking-card .booking-details {
     
      margin-left: 15px;
    }
    
    .booking-card .booking-title {
     font-size: 12px;
      color: #454545;
    }
    
    .booking-card .booking-description {
      font-size: 10px;
      color: #6D6D6D;
    }
    .booking-card  .accepted {
      background-color: #00C35F;
      color: #ffffff;
    width:70px;
      border-radius: 13px;
      border: none;
    }
    .booking-card .pending {
      background-color: #fef9c3;
      color: #92400e;
      width:70px;
      border-radius: 13px;
      padding: 5px;
    }
    
    .booking-card .cancelled {
      background-color: #616161;
      color: #ffffff;
      width:70px;
      border-radius: 13px;
      padding: 5px;
    }
    .booking-card .people-count {
     
      gap: 3px;
      font-size: 10px;
      color: #6d6d6d;
    }

  }