.categoryCard-container {
    width: 240px;
    height: 45px;
    background-color: white;
    border-radius: 9px;
    padding: 17px 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #E0E2D9;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.categoryCard-container img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.categoryCard-container span {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.categoryCard-container.selected {
    background-color: #1877F2; 
    color: white; 
    border: 1px solid #1877F2; 
}

.categoryCard-container.selected span {
    color: white; 
}


@media screen and (max-width: 500px) {
    .categoryCard-container {
      width: 100%; 
      height: auto; 
      padding: 12px 8px; 
      gap: 8px;
    }
  
    .categoryCard-container img {
      width: 16px; 
      height: 16px;
    }
  
    .categoryCard-container span {
      font-size: 14px;
    }
  }
  