.calendar-container {
    width: 90%;
    margin: 20px;
    font-family: Arial, sans-serif;
    
  }
  
  .calendar-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .custom-calendar {
    height: 500px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .rbc-event {
    border-radius: 5px !important;
    font-size: 14px !important;
    text-align: center !important;
  }
  
  .rbc-today {
    background-color: #f0f8ff !important; 
  }
  
  .rbc-toolbar button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    margin: 3px;
  }
  
  .rbc-toolbar button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 500px) {
    .rbc-toolbar {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between; 
      align-items: center;
      flex-direction: row; 
      gap: 5px;
    }
  
    .rbc-btn-group {
      display: flex;
      flex-direction: row; 
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap; 
      gap: 1px;
    }
  
    .rbc-toolbar-label {
      font-size: 12px;
      white-space: nowrap; 
      text-align: center;
      flex-grow: 1; 
    }
  
    .rbc-toolbar button {
      font-size: 12px;
      padding: 5px 8px;
    }
    .custom-calendar {
      height: calc(100vh - 120px); 
      overflow-y: auto;
      padding-bottom: 30px; 
    }
  
    .rbc-time-view {
      overflow-y: auto;
      max-height: calc(100vh - 150px);
      padding-bottom: 30px; 
    }
  
    .rbc-time-content {
      overflow-y: auto;
      height: auto;
      max-height: calc(100vh - 150px);
      padding-bottom: 30px; 
    }
  }
  
  